### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 이름은 다음과 같다:

Bob <br>
John <br>
Sara <br>
Jack <br>
John <br>
Paul <br>
Belinda <br>
Jessica <br>

위 자료를 리스트 a로 정리해본다.

In [1]:
a = ['Bob', 'John', 'Sara', 'Jack', 'John', 'Paul', 'Belinda', 'Jessica' ]

학생 이름을 대문자화 한 리스트 A를 만들어 보아라.

In [2]:
A = []
for x in a:
    A.append(x.upper())
A

['BOB', 'JOHN', 'SARA', 'JACK', 'JOHN', 'PAUL', 'BELINDA', 'JESSICA']

2). B학급의 학생 이름은 다음과 같다:

John <br>
John <br>
Rebecca <br>
Paula <br>
Brandon <br>
Elilzabeth <br>
Sara <br>

A학급과 같은 방법으로 대문자화 한 리스트 B를 만들어 보아라.

In [3]:
b = ['John', 'John', 'Rebecca', 'Paula', 'Brandon', 'Elilzabeth', 'Sara']
B = []
for x in b:
    B.append(x.upper())
B

['JOHN', 'JOHN', 'REBECCA', 'PAULA', 'BRANDON', 'ELILZABETH', 'SARA']

3). A학급과 B학급 명부를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

전체 학생수는?

In [4]:
AB = A + B
print(AB)
print(len(AB))

['BOB', 'JOHN', 'SARA', 'JACK', 'JOHN', 'PAUL', 'BELINDA', 'JESSICA', 'JOHN', 'JOHN', 'REBECCA', 'PAULA', 'BRANDON', 'ELILZABETH', 'SARA']
15

4). 통합 리스트 AB를 알파벳 순으로 정렬해 본다.

In [5]:
AB.sort()
AB

['BELINDA',
 'BOB',
 'BRANDON',
 'ELILZABETH',
 'JACK',
 'JESSICA',
 'JOHN',
 'JOHN',
 'JOHN',
 'JOHN',
 'PAUL',
 'PAULA',
 'REBECCA',
 'SARA',
 'SARA']

5). 통합 리스트 AB에서 서로 다른 이름의 가짓수는?

In [6]:
count = 0
y = ''
for x in AB:
    if ( x != y):
        count +=1
    y = x
print(count)

11

6). 통합 리스트 AB에서 'J'로 시작하는 이름만 출력해 본다.

In [7]:
for x in AB:
    if (x[0] == 'J'):
        print(x)

JACK
JESSICA
JOHN
JOHN
JOHN
JOHN

7). 통합 리스트 AB에서 'A'로 끝나는 이름만 출력해 본다.

In [8]:
for x in AB:
    if (x[-1] == 'A'):
        print(x)

BELINDA
JESSICA
PAULA
REBECCA
SARA
SARA