### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 이름은 다음과 같다:

Bob <br>
John <br>
Sara <br>
Jack <br>
John <br>
Paul <br>
Belinda <br>
Jessica <br>

위 자료를 리스트 a로 정리해본다.

In [2]:
lista = ['Bob','John','Sara','Jack','John','Paul','Belinda','Jessica']
lista

['Bob', 'John', 'Sara', 'Jack', 'John', 'Paul', 'Belinda', 'Jessica']

학생 이름을 대문자화 한 리스트 A를 만들어 보시오.

In [3]:
listA = list()
for i in range(0, len(lista)):
    listA.append(lista[i].upper())
listA

['BOB', 'JOHN', 'SARA', 'JACK', 'JOHN', 'PAUL', 'BELINDA', 'JESSICA']

2). A학급의 학생 이름은 다음과 같다:

John <br>
John <br>
Rebecca <br>
Paula <br>
Brandon <br>
Elilzabeth <br>
Sara <br>

A학급과 같은 방법으로 대문자화 한 리스트 B를 만들어 보시오.

In [4]:
listb = ['John','John','Rebecca','Paula','Brandon','Elilzabeth','Sara']
listB = list()
for i in range(0, len(listb)):
    listB.append(listb[i].upper())
listB

['JOHN', 'JOHN', 'REBECCA', 'PAULA', 'BRANDON', 'ELILZABETH', 'SARA']

3). A학급과 B학급 명부를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

전체 학생수는?

In [5]:
listAB = listA + listB
len(listAB)

15

4). 통합 리스트 AB를 알파벳 순으로 정렬해 본다.

In [6]:
listAB.sort()
listAB

['BELINDA',
 'BOB',
 'BRANDON',
 'ELILZABETH',
 'JACK',
 'JESSICA',
 'JOHN',
 'JOHN',
 'JOHN',
 'JOHN',
 'PAUL',
 'PAULA',
 'REBECCA',
 'SARA',
 'SARA']

5). 통합 리스트 AB에서 서로 다른 이름의 가짓수는?

In [12]:
# prev = listAB[0]
# count = 1;
# for AB in listAB:
#     if(AB != prev):
#         count = count + 1;
#     prev = AB
# count

setAB = set(listAB)
len(setAB)

11

6). 통합 리스트 AB에서 'J'로 시작하는 이름만 출력해 본다.

In [8]:
for AB in listAB:
    if(AB[0] == 'J'):
        print(AB)

JACK
JESSICA
JOHN
JOHN
JOHN
JOHN

7). 통합 리스트 AB에서 'A'로 끝나는 이름만 출력해 본다.

In [9]:
for AB in listAB:
    if(AB[len(AB)-1] == 'A'):
        print(AB)

BELINDA
JESSICA
PAULA
REBECCA
SARA
SARA