#### 변수

동시에 여러 번수 정의:

In [1]:
a, b, c = (111, True, 'aaa')
a, b, c = [111, True, 'aaa']
a = b = c = 777

변수 스왑:

In [21]:
x, y = 666, 777
x, y = y,x
x, y

(777, 666)

#### 객체의 복사:

같은 내용의 두개의 객체:

In [22]:
a = {'name': 'JOHN', 'gender': 'MALE', 'age': 35} 
b = {'name': 'JOHN', 'gender': 'MALE', 'age': 35 }
a['name'] = 'JACK'

In [23]:
a

{'name': 'JACK', 'gender': 'MALE', 'age': 35}

In [24]:
b

{'name': 'JOHN', 'gender': 'MALE', 'age': 35}

객체의 단순복제:

In [25]:
a = {'name': 'JOHN', 'gender': 'MALE', 'age': 35} 
b = a

In [26]:
a

{'name': 'JOHN', 'gender': 'MALE', 'age': 35}

In [27]:
b

{'name': 'JOHN', 'gender': 'MALE', 'age': 35}

In [28]:
a['age'] = 42
a

{'name': 'JOHN', 'gender': 'MALE', 'age': 42}

In [29]:
b

{'name': 'JOHN', 'gender': 'MALE', 'age': 42}

얕은 복사 (shallow copy):

In [11]:
import copy
a = [1, 2, [3, 4, 5]]
b = copy.copy(a)
a[0] = 666

In [12]:
a

[666, 2, [3, 4, 5]]

In [13]:
b

[1, 2, [3, 4, 5]]

In [14]:
a[2][0] = -999

In [15]:
a

[666, 2, [-999, 4, 5]]

In [16]:
b

[1, 2, [-999, 4, 5]]

깊은 복사 (deep copy):

In [17]:
import copy	
a = [1, 2, [3, 4, 5]]
b = copy.deepcopy(a)
a[2][0] = 0

In [18]:
a

[1, 2, [0, 4, 5]]

In [19]:
b

[1, 2, [3, 4, 5]]

#### 제어구조:

for 반복문:

In [ ]:
X = ['You', 'need', 'Python!']
for x in X:
    print(x)

In [ ]:
sum = 0
for x in range(1, 11):
    sum += x
print(sum)

while 반복문:

In [ ]:
counter = 0
sum = 0
while counter < 11:
    sum += counter
    counter += 1
print(sum)