#### 튜플 (tuple):

In [2]:
e = (1, 2, ('Life', 'is'))
e[2]

('Life', 'is')

In [3]:
e[2][1]

'is'

#### 튜플의 슬라이싱 (slicing):

In [4]:
a = (1, 2, 3, ['a', 'b', 'c'], 4, 5)
a[3][:2]

['a', 'b']

#### 튜플 연산하기:

In [5]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

(1, 2, 3, 4, 5, 6)

In [6]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 딕셔너리 (dictionary):

In [7]:
d = {'x':[1,2,3], 'y':[4,5,6]}
d['x']

[1, 2, 3]

#### 딕셔너리 짝 추가, 삭제, 변경:

In [8]:
a = {}
a['이름'] = '홍길동'
a['성별'] = '남'
a['나이'] = 35
a

{'이름': '홍길동', '성별': '남', '나이': 35}

In [9]:
del a['나이']
a

{'이름': '홍길동', '성별': '남'}

In [10]:
a['이름'] = '임꺽정' 
a

{'이름': '임꺽정', '성별': '남'}

#### 딕셔너리 관련 함수:

In [11]:
a.keys()

dict_keys(['이름', '성별'])

In [12]:
a.values()

dict_values(['임꺽정', '남'])

In [13]:
a.items()

dict_items([('이름', '임꺽정'), ('성별', '남')])

In [14]:
a.clear()

In [15]:
a = {'name': 'JONE', 'gender': 'MALE', 'age': 35} 
a.get('wage', 0)

0

In [16]:
'name' in a

True

In [17]:
'wage' in a

False

#### 집합의 원소에는 중복이 없음:

In [20]:
b = set([1,2,3,3,3,3,4,5])
b

{1, 2, 3, 4, 5}

#### 집합 연산하기:

In [21]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s1 & s2

{4, 5}

In [22]:
s1.intersection(s2)

{4, 5}

In [23]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
s1 - s2

{1, 2, 3}

In [26]:
s1.difference(s2)

{1, 2, 3}

In [27]:
a = set([1, 2, 3, 4, 5]) 
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [28]:
a.update([7, 8, 9])
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
a.remove(9)
a

{1, 2, 3, 4, 5, 6, 7, 8}

#### 변경 가능한 자료형 (mutable):

In [30]:
a = [1, 2, 3, 4, 5]
b = a

In [31]:
id(a)

2595583609544

In [32]:
id(b)

2595583609544

In [33]:
b[0] = -999
a

[-999, 2, 3, 4, 5]

#### Immutable 안의 mutable 자료:

In [34]:
a = (1, 2, [3, 4] )
a[2][0] = -999
a

(1, 2, [-999, 4])