### 연관성 분석

#### 필요한 패키지 설치 (FP Growth)

In [10]:
# pip install pyfpgrowth;

The following command must be run outside of the IPython shell:

    $ pip install pyfpgrowth;

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

#### 필요한 패키지를 불러온다

In [12]:
import os
import pandas as pd
import numpy as np
import pyfpgrowth

#### 데이터를 읽어온다.

In [13]:
os.chdir(r"D:\python_ML\python_ml_basic\data")

In [14]:
# df = pd.read_csv('data_KOSPI200_en.csv', header='infer',encoding='ISO-8859-1')
df = pd.read_csv('data_association.csv', header='infer',encoding='latin1')

In [15]:
df.shape

(14, 2)

In [16]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>customer_id</th>
      <th>item</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>A</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>C</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>A</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>D</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>B</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>C</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>D</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>A</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>B</td>
    </tr>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>D</td>
    </tr>
    <tr>
      <th>13</th>
      <td>5</td>
      <td>E</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
transactions = {}
for id,item in zip(df.customer_id,df.item):
    if id in transactions.keys():
        transactions[id] = transactions[id] + [item]
    else:
        transactions[id] = [item]

In [18]:
transactions

{1: ['A', 'B'],
 2: ['A', 'C'],
 3: ['A', 'D', 'E'],
 4: ['B', 'C', 'D'],
 5: ['A', 'B', 'D', 'E']}

In [19]:
trans_list=list(transactions.values())
trans_list

[['A', 'B'],
 ['A', 'C'],
 ['A', 'D', 'E'],
 ['B', 'C', 'D'],
 ['A', 'B', 'D', 'E']]

#### 지지도 >= 0.001

In [23]:
patterns = pyfpgrowth.find_frequent_patterns(trans_list, 0.001)
patterns

{('A', 'C'): 1,
 ('C', 'D'): 1,
 ('B', 'C'): 1,
 ('B', 'C', 'D'): 1,
 ('E',): 2,
 ('D', 'E'): 2,
 ('A', 'E'): 2,
 ('B', 'E'): 1,
 ('A', 'D', 'E'): 2,
 ('B', 'D', 'E'): 1,
 ('A', 'B', 'E'): 1,
 ('A', 'B', 'D', 'E'): 1,
 ('B',): 3,
 ('A', 'B'): 2,
 ('A', 'D'): 2,
 ('A', 'B', 'D'): 1,
 ('B', 'D'): 2,
 ('A',): 4}

#### 신뢰도 >= 0.7

In [21]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.7)

#### 룰은  "왼쪽 ==> 오른쪽"과 같이 표현된다.

#### 다음 출력은 딕셔너리 형식이며, key:value 짝은 "왼쪽 : (오른쪽, 신뢰도)"와 같이 구성되어 있다.

In [22]:
rules

{('B', 'C'): (('D',), 1.0),
 ('C', 'D'): (('B',), 1.0),
 ('E',): (('A', 'D'), 1.0),
 ('A', 'D'): (('E',), 1.0),
 ('A', 'E'): (('D',), 1.0),
 ('D', 'E'): (('A',), 1.0),
 ('B', 'E'): (('A', 'D'), 1.0),
 ('A', 'B', 'D'): (('E',), 1.0),
 ('A', 'B', 'E'): (('D',), 1.0),
 ('B', 'D', 'E'): (('A',), 1.0)}