### 연관성 분석

#### 필요한 패키지 설치 (FP Growth)

In [1]:
!pip install pyfpgrowth;

Requirement already satisfied: pyfpgrowth in c:\users\sycha_000\anaconda3\lib\site-packages (1.0)

#### 필요한 패키지를 불러온다

In [2]:
import os
import pandas as pd
import numpy as np
import pyfpgrowth

#### 데이터를 읽어온다.

In [3]:
os.chdir(r"D:\python_ML\python_ml_basic\data")

In [4]:
# df = pd.read_csv('data_KOSPI200_en.csv', header='infer',encoding='ISO-8859-1')
df = pd.read_csv('data_association.csv', header='infer',encoding='latin1')

In [5]:
df.shape

(14, 2)

In [6]:
df

    customer_id item
0             1    A
1             1    B
2             2    A
3             2    C
4             3    A
5             3    D
6             3    E
7             4    B
8             4    C
9             4    D
10            5    A
11            5    B
12            5    D
13            5    E

In [7]:
transactions = {}
for id,item in zip(df.customer_id,df.item):
    if id in transactions.keys():
        transactions[id] = transactions[id] + [item]
    else:
        transactions[id] = [item]

In [8]:
transactions

{1: ['A', 'B'],
 2: ['A', 'C'],
 3: ['A', 'D', 'E'],
 4: ['B', 'C', 'D'],
 5: ['A', 'B', 'D', 'E']}

In [9]:
trans_list=list(transactions.values())
trans_list

[['A', 'B'],
 ['A', 'C'],
 ['A', 'D', 'E'],
 ['B', 'C', 'D'],
 ['A', 'B', 'D', 'E']]

#### 지지도 >= 0.001

In [10]:
patterns = pyfpgrowth.find_frequent_patterns(trans_list, 0.001)

#### 신뢰도 >= 0.7

In [11]:
rules = pyfpgrowth.generate_association_rules(patterns, 0.7)

#### 룰은  "왼쪽 ==> 오른쪽"과 같이 표현된다.

#### 다음 출력은 딕셔너리 형식이며, key:value 짝은 "왼쪽 : (오른쪽, 신뢰도)"와 같이 구성되어 있다.

In [12]:
rules

{('B', 'C'): (('D',), 1.0),
 ('C', 'D'): (('B',), 1.0),
 ('E',): (('A', 'D'), 1.0),
 ('A', 'D'): (('E',), 1.0),
 ('A', 'E'): (('D',), 1.0),
 ('D', 'E'): (('A',), 1.0),
 ('B', 'E'): (('A', 'D'), 1.0),
 ('A', 'B', 'D'): (('E',), 1.0),
 ('A', 'B', 'E'): (('D',), 1.0),
 ('B', 'D', 'E'): (('A',), 1.0)}