### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 신장을 조사해 보니 다음과 같다:

161.5 <br>
155.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

위 자료를 리스트로 정리해본다.

리스트와 for 반복문을 사용해서 평균 신장을 구해본다.

2). B학급의 학생 신장을 조사해 보니 다음과 같다:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
159.2 <br>

A학급과 같은 방법으로 평균 신장을 구해본다.

3). A학급과 B학급 신장 자료를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

이 통합 리스트 AB를 가지고 평균을 구한다.

4). 통합 리스트 AB를 정렬해 본다.

5). 통합 리스트 AB에서 가장 작은 값을 가져오시오.

6). 통합 리스트 AB에서 가장 큰 값을 가져오시오.

7). 통합 리스트 AB를 사용하여 신장이 165이하인 학생들 만의 리스트 C를 만든다.

리스트 C의 평균을 구하여라.

8). 통합 리스트 AB를 사용하여 신장이 160이상 170이하인 학생들 만의 리스트 D를 만든다.

리스트 D의 평균을 구하여라.