### 도수분포표와 분활표

In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
os.chdir(r"C:\Users\bit\Desktop\data")

In [7]:
df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding = 'latin1')

#### 도수분포표

In [8]:
bloodType = df['bloodtype']
gender = df['gender']

In [9]:
bloodType.value_counts()

O     5
B     5
A     4
AB    3
Name: bloodtype, dtype: int64

In [10]:
gender.value_counts()

M    10
F     7
Name: gender, dtype: int64

In [11]:
bloodType.value_counts()/gender.size

O     0.294118
B     0.294118
A     0.235294
AB    0.176471
Name: bloodtype, dtype: float64

In [12]:
gender.value_counts()/gender.size

M    0.588235
F    0.411765
Name: gender, dtype: float64

#### 분활표

In [13]:
pd.crosstab(bloodType,gender)

gender     F  M
bloodtype
A          2  2
AB         1  2
B          1  4
O          3  2

In [14]:
pd.crosstab(bloodType,gender,margins=True)

gender     F   M  All
bloodtype
A          2   2    4
AB         1   2    3
B          1   4    5
O          3   2    5
All        7  10   17