### 분활표 카이제곱 검정

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

다음은 미국에서 592명 성인 남녀의 눈색과 머리칼 색을 정리해 놓은 분활표이다. <br>
개개 행은 머리칼 색, 개개 열은 눈색을 나타낸다. <br>
분활표카이제곱검정 (독립성 검정)을 실시해 보자.

In [2]:
data_eye = {'Brown': [68,119,26,7], 'Blue':[20,84,17,94], 'Hazel':[15,54,14,10], 'Green':[5, 29, 14,16]}
data = pd.DataFrame(data_eye,index=['Black','Brown','Red','Blonde'])
data

        Brown  Blue  Hazel  Green
Black      68    20     15      5
Brown     119    84     54     29
Red        26    17     14     14
Blonde      7    94     10     16

In [3]:
# 통계량, p-값, 자유도.
st.chi2_contingency(data)

(138.28984162600824,
 2.325286787098839e-25,
 9,
 array([[ 40.13513514,  39.22297297,  16.96621622,  11.67567568],
        [106.28378378, 103.86824324,  44.92905405,  30.91891892],
        [ 26.38513514,  25.78547297,  11.15371622,   7.67567568],
        [ 47.19594595,  46.12331081,  19.95101351,  13.72972973]]))

다음은 타이타닉호의 객실 등급을 나타내는 변수와 생존여부를 나타내는 분활표이다. <br>
변수사이의 독립성을 검정해 보자.

In [4]:
data_survived = {'Yes':[122, 167, 528, 673], 'No':[203,118,178,212]}
data = pd.DataFrame(data_survived,index=['1st','2nd','3rd','Crew'])
data

      Yes   No
1st   122  203
2nd   167  118
3rd   528  178
Crew  673  212

In [5]:
# 통계량, p-값, 자유도.
st.chi2_contingency(data)

(190.40110361683327,
 4.999927529868003e-41,
 3,
 array([[220.01363017, 104.98636983],
        [192.93502953,  92.06497047],
        [477.93730123, 228.06269877],
        [599.11403907, 285.88596093]]))